<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="human.class1.ajax.mapper.DELETEMapper">
    <delete id="deleteProcess">
        DELETE FROM PROCESS WHERE process_code = #{processCode}
    </delete>
</mapper>
